---
- name: Ensure that the sizeup package is installed
  tags: sizeup
  homebrew_cask:
    name: "{{ sizeup_package|lower }}"
    state: present
  register: sizeup_homebrew_cask

- name: Attempting to apply sizeup configurations
  tags: sizeup
  osx_defaults:
    domain: "{{ sizeup_domain }}"
    key: "{{ item.key|regex_replace('_', ' ') }}"
    state: "{{ item.value.state|default('present') }}"
    type: "{{ item.value.type }}"
    value: "{{ item.value.value }}"
  with_dict: "{{ sizeup_defaults }}"
  when:
    - item.key is defined
    - item.value.type is defined
    - item.value.value is defined
    - sizeup_defaults|length > 0
    - sizeup_homebrew_cask is success
...
